
.drawing-hero-section {
    position: relative;
    min-height: 850px;
    margin-top: 114px;

}

.drawing-hero-section::after {
    content: "";
    position: absolute;
    top: -120px;
    left: 0;
    width: 100%;
    height: 180%;
    z-index: 1;
    background-image: url('../images/drawingHeroBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.drawing-hero-titles {
    position: relative;

}

.drawing-hero-video {
    position: relative;
    margin: 60px auto 0;
    box-shadow: 0px 0px 32px 0px rgba(99, 86, 254, 0.12);
    border-radius: 20px;
    max-width: 860px;
    width: 100%;
}
.drawingHero-image-size{
    height: 480px;
    max-width: 860px;
    width: 100%;

}
.drawingAdvantages-image-size{
    height: 424px;
    width: 750px;
}
.drawing-hero-picture img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 20px;

}
.drawing-hero-picture .twentytwenty-handle {
    width: 52px !important;
    height: 52px !important;
    background: #171717 !important;

    border: none !important;
    margin-top: -20px !important;
    border-radius: 50% !important;
    box-shadow: 0 0 0 1px rgba(99, 86, 254, 0.28),
    0 0 0 1px rgba(118, 74, 239, 0.28),
    0 0 0 1px rgba(138, 62, 223, 0.28),
    0 0 0 1px rgba(163, 48, 203, 0.28) !important;


}


.drawing-hero-picture .twentytwenty-handle:before {
    background: var(--black) !important;
    box-shadow: 0 -3px 0 rgba(23, 23, 23, 1), 0 0 1px rgba(23, 23, 23, 1) !important;
    --webkit-box-shadow: rgba(23, 23, 23, 1), 0 0 1px rgba(23, 23, 23, 1) !important;
    bottom: 55% !important;
    width: 6px !important;
    margin-left: -4px !important;
    border-right: 2px solid !important;
    border-left: 2px solid !important;
    border-image-source: linear-gradient(86.94deg, rgba(99, 86, 254, 0.28) 0.62%, rgba(118, 74, 239, 0.28) 30.62%, rgba(138, 62, 223, 0.28) 61.67%, rgba(163, 48, 203, 0.28) 99.38%) !important;
    border-image-slice: 1 !important;

}

.drawing-hero-picture .twentytwenty-handle:after {
    background: var(--black) !important;
    box-shadow: 0 -3px 0 rgba(23, 23, 23, 1), 0 0 1px rgba(23, 23, 23, 1) !important;
    --webkit-box-shadow: rgba(23, 23, 23, 1), 0 0 1px rgba(23, 23, 23, 1) !important;
    bottom: 30% !important;
    width: 6px !important;
    top: 52px !important;
    margin-top: 0 !important;
    margin-left: -4px !important;
    border-right: 2px solid !important;
    border-left: 2px solid !important;
    border-image-source: linear-gradient(86.94deg, rgba(99, 86, 254, 0.28) 0.62%, rgba(118, 74, 239, 0.28) 30.62%, rgba(138, 62, 223, 0.28) 61.67%, rgba(163, 48, 203, 0.28) 99.38%) !important;
    border-image-slice: 1 !important;
}

.drawing-hero-picture .twentytwenty-left-arrow {
    border: none !important;
    background-image: url('../images/icon/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 8px !important;
    height: 8px !important;
    left: 50% !important;
    top: 40% !important;
    margin-top: 0 !important;
    margin-left: -15px !important;

}

.drawing-hero-picture .twentytwenty-right-arrow {
    border: none !important;
    background-image: url('../images/arrowRight.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 8px !important;
    height: 8px !important;
    right: 50% !important;
    top: 40% !important;
    margin-top: 0 !important;
    margin-left: -15px !important;

}

.drawing-hero-video::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 1.5px;
    background: linear-gradient(86.94deg, rgba(99, 86, 254, 0.28) 0.62%, rgba(118, 74, 239, 0.28) 30.62%, rgba(138, 62, 223, 0.28) 61.67%, rgba(163, 48, 203, 0.28) 99.38%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    transition: .3s;
}

.drawing-hero-body {
    padding: 61px 0 0;
    position: relative;
}

.drawing-hero-item {
    position: absolute;

}


.drawing-btn-cnt {
    width: 100%;
    margin-top: 32px;
}

.drawing-hero-btn {
    max-width: 159px;
    width: 100%;
    margin-right: 20px;

}

.drawing-hero-btn.active {
    max-width: 170px;
    margin-right: 0;

}

.drawing-hero-item--one {
    left: 0;
    top: -30px;
}

.drawing-hero-item--two {
    right: 0;
    top: -50px;
}

.drawing-hero-item--tree {
    left: 269px;
    bottom: -20px;
}

.drawing-hero-item--for {
    right: 221px;
    bottom: 20px;
}

.drawing-hero-mobile {
    display: none;
}
.icon-peculiarities-drawing{
     font-size: 24px;
    background: linear-gradient(86.94deg, #6356FE 0.62%, #764AEF 30.62%, #8A3EDF 61.67%, #A330CB 99.38%);

}

.drawing-item-picture{
    border-radius: 20px;
    height: 400px;
}
.collage-peculiarities-picture{
    max-width: 692px;
    height: 400px;
    width: 100%;
}

.drawing-item-picture img {
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.finish-advantages-btn{
    margin-top: 36px;
}
@media (max-width: 1400px) {
}

@media (max-width: 1200px) {

    .drawing-hero-item--tree {
        left: 0;
        bottom: 0;
    }

    .drawing-hero-item--for {
        right: 0;
        bottom: 0;
    }


}

@media (max-width: 992px) {
    .face-hero-body {
        flex-direction: column;
    }

    .face-reviews-left-img {
        height: 237px;
    }

    .drawingAdvantages-image-size{
        height: 250px;
        width: 450px;
    }
    .face-hero-title {
        text-align: center;
    }

    .face-hero-sub {
        text-align: center;
    }



    .face-peculiarities-section {
        min-height: 800px;
        margin-top: 100px;
    }

    .face-peculiarities-body {
        min-height: 800px;
    }

}

@media (max-width: 768px) {
    .drawing-hero-mobile {
        display: block;
        position: absolute;
    }
    .drawing-hero-picture {
        border-radius: 16px;
    }
    .drawing-hero-picture{
        height: 250px;
    }

    .drawing-hero-desktop {
        display: none;
    }

    .drawing-hero-item--tree {
        left: unset;
        right: 0;
    }

    .drawing-hero-body {
        padding: 132px 0 0;
        position: relative;
    }

    .drawing-hero-item--one {
        top: -120px;
    }

    .drawing-hero-item--tree {
        top: -80px;
    }
    .drawing-mobile--one{
        right: 10px;
        bottom: -130px;
    }
    .drawing-mobile--two{
        left: 20px;
        bottom: -100px;
    }

}
@media (max-width: 576px) {

    .drawingAdvantages-image-size{
        height: 150px;
        width: 300px;
    }
    .drawing-hero-item--one{
        max-width: 100px;
        top: -130px;

    }
    .drawing-hero-picture{
        height: 188px;
    }
    .drawing-hero-picture .twentytwenty-handle:before {
        background: var(--black) !important;
        box-shadow: 0 -3px 0 rgba(23, 23, 23, 1), 0 0 0.5px rgba(23, 23, 23, 1) !important;
        --webkit-box-shadow: rgba(23, 23, 23, 1), 0 0 0.5px rgba(23, 23, 23, 1) !important;
        bottom: 39% !important;
        width: 6px !important;
        margin-left: -4px !important;
        border-right: 1px solid !important;
        border-left: 1px solid !important;
        border-image-source: linear-gradient(86.94deg, rgba(99, 86, 254, 0.28) 0.62%, rgba(118, 74, 239, 0.28) 30.62%, rgba(138, 62, 223, 0.28) 61.67%, rgba(163, 48, 203, 0.28) 99.38%) !important;
        border-image-slice: 1 !important;

    }

    .drawing-hero-picture .twentytwenty-handle:after {
        background: var(--black) !important;
        box-shadow: 0 -3px 0 rgba(23, 23, 23, 1), 0 0 0.5px rgba(23, 23, 23, 1) !important;
        --webkit-box-shadow: rgba(23, 23, 23, 1), 0 0 0.5px rgba(23, 23, 23, 1) !important;
        bottom: 30% !important;
        width: 6px !important;
        top: 42px !important;
        margin-top: 0 !important;
        margin-left: -4px !important;
        border-right: 1px solid !important;
        border-left: 1px solid !important;
        border-image-source: linear-gradient(86.94deg, rgba(99, 86, 254, 0.28) 0.62%, rgba(118, 74, 239, 0.28) 30.62%, rgba(138, 62, 223, 0.28) 61.67%, rgba(163, 48, 203, 0.28) 99.38%) !important;
        border-image-slice: 1 !important;
    }

    .drawing-hero-picture .twentytwenty-handle:before {
        background: var(--black) !important;
        box-shadow: 0 -3px 0 rgba(23, 23, 23, 1), 0 0 0.5px rgba(23, 23, 23, 1) !important;
        --webkit-box-shadow: rgba(23, 23, 23, 1), 0 0 0.5px rgba(23, 23, 23, 1) !important;
        bottom: 39% !important;
        width: 6px !important;
        margin-left: -4px !important;
        border-right: 1px solid !important;
        border-left: 1px solid !important;
        border-image-source: linear-gradient(86.94deg, rgba(99, 86, 254, 0.28) 0.62%, rgba(118, 74, 239, 0.28) 30.62%, rgba(138, 62, 223, 0.28) 61.67%, rgba(163, 48, 203, 0.28) 99.38%) !important;
        border-image-slice: 1 !important;

    }

    .drawing-hero-picture .twentytwenty-handle:after {
        background: var(--black) !important;
        box-shadow: 0 -3px 0 rgba(23, 23, 23, 1), 0 0 0.5px rgba(23, 23, 23, 1) !important;
        --webkit-box-shadow: rgba(23, 23, 23, 1), 0 0 0.5px rgba(23, 23, 23, 1) !important;
        bottom: 30% !important;
        width: 6px !important;
        top: 42px !important;
        margin-top: 0 !important;
        margin-left: -4px !important;
        border-right: 1px solid !important;
        border-left: 1px solid !important;
        border-image-source: linear-gradient(86.94deg, rgba(99, 86, 254, 0.28) 0.62%, rgba(118, 74, 239, 0.28) 30.62%, rgba(138, 62, 223, 0.28) 61.67%, rgba(163, 48, 203, 0.28) 99.38%) !important;
        border-image-slice: 1 !important;
    }

    .drawing-hero-picture .twentytwenty-handle {
        box-shadow: 0 0 0 0.5px rgba(99, 86, 254, 0.28),
        0 0 0 0.5px rgba(118, 74, 239, 0.28),
        0 0 0 0.5px rgba(138, 62, 223, 0.28),
        0 0 0 0.5px rgba(163, 48, 203, 0.28) !important;

    }

    .drawing-hero-picture .twentytwenty-handle {
        width: 40px !important;
        height: 40px !important;
    }
    .drawing-hero-section::after {
        background-image: url('../images/drawingHeroBgMobile.png');

    }
    .drawing-item-picture{
        border-radius: 20px;
        height: 204px;
    }
    .drawing-hero-item--tree{
         max-width: 60px;
    }
    .drawing-hero-video {
        border-radius: 16px;
        margin: 40px auto 0;
    }

    .collage-peculiarities-picture{
        height: max-content;
    }
    .drawing-hero-section {
        position: relative;
        min-height: 670px;
        margin-top: 84px;

    }
    .drawing-mobile--two{
        max-width: 70px;
    }
    .drawing-mobile--one{
        max-width: 90px;
    }
    .drawing-btn-cnt{
        margin-top: 28px;
    }
}